<a href="https://colab.research.google.com/github/BINDU-N-R/bindunr-python/blob/master/P_Day_2_session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.print multiples of 3 upto 200 using a list

In [13]:
L=[i for i in range(1,200) if i%3 ==0]
print(L)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

#2. print the nos only divisible by 5 and 7 between 1000 and 2000 using a list(both inclusive)

In [15]:
L=[i for i in range(1000,2001) if i%5==0 and i%7==0]
print(L)

[1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

#3. Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [15]:
A=[]
n=int(input("Enter the n value : "))
for i in range(n):
  b=input("Enter {0} element : ".format(i+1))
  A.append(b)
A.sort()
print("Entered order is : ")
print(A)
A.reverse()
print("Reversed order is : ")
print(A)

Enter the n value : 4
Enter 1 element : Ningu
Enter 2 element : Bindu
Enter 3 element : Akhil
Enter 4 element : Rathu
Entered order is :
['Akhil', 'Bindu', 'Ningu', 'Rathu']
Reversed order is :
['Rathu', 'Ningu', 'Bindu', 'Akhil']

#4. Print perfect squares and divisible by 5 between 500 and 1000 (both inclusive) using list comprehension

In [61]:
L=[i for i in range(500,1001) if (i**(.5) == int(i**(.5))and i%5==0)]
print(L)

[625, 900]

#5. Calculate the Average of the numbers in a List by getting the elements of list from keyboard .

In [5]:
a=[]
n=int(input("Enter the number of elements in the list : "))
for i in range(0,n):
  L=int(input("Enter the {0} element : ".format(i+1)))
  a.append(L)
print(sum(a)/n)

Enter the number of elements in the list : 3
Enter the 1 element : 4
Enter the 2 element : 2
Enter the 3 element : 2
2.6666666666666665

#6. Print lists of odd,even and multiples of 5 numbers from 1 to 1000 using list comprehension

In [8]:
a=[i for i in range(5,1000,5)]
b=[i for i in range(1,1000)if (i%2)==0]
c=[i for i in range(1,1000)if (i%2)!=0]
print(a)
print(b)
print(c)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495, 500, 505, 510, 515, 520, 525, 530, 535, 540, 545, 550, 555, 560, 565, 570, 575, 580, 585, 590, 595, 600, 605, 610, 615, 620, 625, 630, 635, 640, 645, 650, 655, 660, 665, 670, 675, 680, 685, 690, 695, 700, 705, 710, 715, 720, 725, 730, 735, 740, 745, 750, 755, 760, 765, 770, 775, 780, 785, 790, 795, 800, 805, 810, 815, 820, 825, 830, 835, 840, 845, 850, 855, 860, 865, 870, 875, 880, 885, 890, 895, 900, 905, 910, 915, 920, 925, 930, 935, 940, 945, 950, 955, 960, 965, 970, 975, 980, 985, 990, 995]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499, 501, 503, 505, 507, 509, 511, 513, 515, 517, 519, 521, 523, 525, 527, 529, 531, 533, 535, 537, 539, 541, 543, 545, 547, 549, 551, 553, 555, 557, 559, 561, 563, 565, 567, 569, 571, 573, 575, 577, 579, 581, 583, 585, 587, 589, 591, 593, 595, 597, 599, 601, 603, 605, 607, 609, 611, 613, 615, 617, 619, 621, 623, 625, 627, 629, 631, 633, 635, 637, 639, 641, 643, 645, 647, 649, 651, 653, 655, 657, 659, 661, 663, 665, 667, 669, 671, 673, 675, 677, 679, 681, 683, 685, 687, 689, 691, 693, 695, 697, 699, 701, 703, 705, 707, 709, 711, 713, 715, 717, 719, 721, 723, 725, 727, 729, 731, 733, 735, 737, 739, 741, 743, 745, 747, 749, 751, 753, 755, 757, 759, 761, 763, 765, 767, 769, 771, 773, 775, 777, 779, 781, 783, 785, 787, 789, 791, 793, 795, 797, 799, 801, 803, 805, 807, 809, 811, 813, 815, 817, 819, 821, 823, 825, 827, 829, 831, 833, 835, 837, 839, 841, 843, 845, 847, 849, 851, 853, 855, 857, 859, 861, 863, 865, 867, 869, 871, 873, 875, 877, 879, 881, 883, 885, 887, 889, 891, 893, 895, 897, 899, 901, 903, 905, 907, 909, 911, 913, 915, 917, 919, 921, 923, 925, 927, 929, 931, 933, 935, 937, 939, 941, 943, 945, 947, 949, 951, 953, 955, 957, 959, 961, 963, 965, 967, 969, 971, 973, 975, 977, 979, 981, 983, 985, 987, 989, 991, 993, 995, 997, 999]

#7. Program to create a list of tuples with the first element as the numbers from 1 to 100 and the second element as the square root of the respective number.

In [9]:
import math
a=[(x,math.sqrt(x)) for x in range(1,100)]
print(a)

[(1, 1.0), (2, 1.4142135623730951), (3, 1.7320508075688772), (4, 2.0), (5, 2.23606797749979), (6, 2.449489742783178), (7, 2.6457513110645907), (8, 2.8284271247461903), (9, 3.0), (10, 3.1622776601683795), (11, 3.3166247903554), (12, 3.4641016151377544), (13, 3.605551275463989), (14, 3.7416573867739413), (15, 3.872983346207417), (16, 4.0), (17, 4.123105625617661), (18, 4.242640687119285), (19, 4.358898943540674), (20, 4.47213595499958), (21, 4.58257569495584), (22, 4.69041575982343), (23, 4.795831523312719), (24, 4.898979485566356), (25, 5.0), (26, 5.0990195135927845), (27, 5.196152422706632), (28, 5.291502622129181), (29, 5.385164807134504), (30, 5.477225575051661), (31, 5.5677643628300215), (32, 5.656854249492381), (33, 5.744562646538029), (34, 5.830951894845301), (35, 5.916079783099616), (36, 6.0), (37, 6.082762530298219), (38, 6.164414002968976), (39, 6.244997998398398), (40, 6.324555320336759), (41, 6.4031242374328485), (42, 6.48074069840786), (43, 6.557438524302), (44, 6.6332495807108), (45, 6.708203932499369), (46, 6.782329983125268), (47, 6.855654600401044), (48, 6.928203230275509), (49, 7.0), (50, 7.0710678118654755), (51, 7.14142842854285), (52, 7.211102550927978), (53, 7.280109889280518), (54, 7.3484692283495345), (55, 7.416198487095663), (56, 7.483314773547883), (57, 7.54983443527075), (58, 7.615773105863909), (59, 7.681145747868608), (60, 7.745966692414834), (61, 7.810249675906654), (62, 7.874007874011811), (63, 7.937253933193772), (64, 8.0), (65, 8.06225774829855), (66, 8.12403840463596), (67, 8.18535277187245), (68, 8.246211251235321), (69, 8.306623862918075), (70, 8.366600265340756), (71, 8.426149773176359), (72, 8.48528137423857), (73, 8.54400374531753), (74, 8.602325267042627), (75, 8.660254037844387), (76, 8.717797887081348), (77, 8.774964387392123), (78, 8.831760866327848), (79, 8.888194417315589), (80, 8.94427190999916), (81, 9.0), (82, 9.055385138137417), (83, 9.1104335791443), (84, 9.16515138991168), (85, 9.219544457292887), (86, 9.273618495495704), (87, 9.327379053088816), (88, 9.38083151964686), (89, 9.433981132056603), (90, 9.486832980505138), (91, 9.539392014169456), (92, 9.591663046625438), (93, 9.643650760992955), (94, 9.695359714832659), (95, 9.746794344808963), (96, 9.797958971132712), (97, 9.848857801796104), (98, 9.899494936611665), (99, 9.9498743710662)]

#8. Develop a game application using random module to generate numbers from 1 to 20

In [20]:
import random
a=random.randint(1,20)
f=0
for j in range(5):
  b=int(input("Guess a number : "))
  if (b==a):
    f=f+1
if (f==0):
  print("You lost the game, Better luck next time")
else:
  print("You WON!!!")

Guess a number : 4
Guess a number : 29
Guess a number : 3
Guess a number : 24
Guess a number : 13
You WON!!!